extends layout

block content
    div.container.pad-top-lg.pad-bottom-lg
        table.table-hover
            thead
                tr
                    th.col Type
                    th.col Column heading
                    th.col Column heading
                    th.col Column heading
            tbody
                tr.table-active
                    th.row Active
                    td Column content
                    td Column content
                    td Column content
                tr
                    th.row Default
                    td Column content
                    td Column content
                    td Column content
                tr.table-primary
                    th.row Primary
                    td Column content
                    td Column content
                    td Column content
                tr.table-secondary
                    th.row Secondary
                    td Column content
                    td Column content
                    td Column content
                tr.table-success
                    th.row Success
                    td Column content
                    td Column content
                    td Column content
                tr.table-danger
                    th.row Danger
                    td Column content
                    td Column content
                    td Column content
                tr.table-warning
                    th.row Warning
                    td Column content
                    td Column content
                    td Column content
                tr.table-info
                    th.row Info
                    td Column content
                    td Column content
                    td Column content
                tr.table-light
                    th.row Light
                    td Column content
                    td Column content
                    td Column content
                tr.table-dark
                    th.row Dark
                    td Column content
                    td Column content
                    td Column content