extends layout

block content
    div.container.pad-top-lg.pad-bottom-lg
        div.row.pad-bottom-md
            div.col-lg-4.col-md-4
                div.row.pad-bottom-md.text-center
                    div.col-lg-12
                        img(src='/images/avatar.png', style='width:150px; height:150px')
                        p#hello-words.pad-top-md
                        button#change-infomation-option.btn.btn-info.btn-sm(type='button') 修改资料

            div.col-lg-8.col-md-8
                div.col-lg-12.jumbotron
                    div.row.pad-left-md
                        h5.pad-bottom-sm 账户余额：
                        h5#user-balance.pad-bottom-md
                    div.row
                        div.col-lg-6.col-md-6
                            div.card.text-white.bg-primary.mb-3
                                div#recharge-option.card-body.option-card
                                    p 充值
                        div.col-lg-6.col-md-6
                            div.card.text-white.bg-dark.mb-3
                                div#transfer-option.card-body.option-card
                                    p 转账
                    div.row
                        div.col-lg-6.col-md-6
                            div.card.text-white.bg-warning.mb-3
                                div#withdraw-option.card-body.option-card
                                    p 提现
                        div.col-lg-6.col-md-6
                            div.card.text-white.bg-info.mb-3
                                div#record-option.card-body.option-card
                                    p 交易记录

block scripts
    script(src='/javascripts/views/dashboard.js')
