extends layout

block content
    div.page-header.splash
        div.row
            div.col-lg-12
                h1.display-3 BCwallet
                h5 BCwallet 是一个基于区块链技术的支付平台。
                    p
                    p.lead
                        button#start.btn.btn-secondary.btn-lg 开始使用
    div.container.pad-bottom-lg
        div.bs-docs-section
            div.row
                div.page-header.col-lg-12.text-center
                    h2 BCwallet 是一个更加安全、高效的支付平台。
            div.row
                div.col-lg-4
                    div.card.border-light.mb-3
                        //div.card-header.strong.text-center 什么是区块链？
                        h1.text-primary.h-img.text-center BlockChain
                        div.card-body
                            p 区块链起源于中本聪的比特币，通过去中心化和去信任的方式集体维护一个可靠数据库的技术方案。
                            p 依靠密码学和数学巧妙的分布式算法，以极低的成本解决了信任与价值的可靠传递难题。
                div.col-lg-4
                    div.card.border-light.mb-3
                        //div.card-header.strong.text-center 区块链技术有哪些特征？
                        h1.text-secondary.h-img.text-center Strength
                        div.card-body
                            p 去中心化：不依赖额外的第三方管理机构或硬件设施，没有中心管制，除了自成一体的区块链本身。
                            p 安全性：无法肆意操控修改网络数据，这使区块链本身变得相对安全，避免了主观人为的数据变更。
                            p 匿名性：各区块节点的身份信息不需要公开或验证，信息传递可以匿名进行。
                div.col-lg-4
                    div.card.border-light.mb-3
                        //div.card-header.strong.text-center 为什么使用区块链钱包？
                        h1.text-info.h-img.text-center Safety
                        div.card-body
                            p 第三方支付机构结算业务非常不利于监管，风险隐患较多。
                            p 区块链信息不可篡改性与去信任机制等特点非常适用于该场景，基于区块链的钱包系统能构建更加安全、高效的支付平台。

block scripts
    script(src='/javascripts/views/home.js')