extends layout

block content
    div.container.pad-top-lg.pad-bottom-lg
        div.jumbotron
            div.row
                h3.pad-bottom-sm 交易记录
            div.row
                table.table.table-hover
                    thead
                        tr.table-active
                            th(scope='col') 类别
                            th(scope='col') 交易明细
                            th(scope='col') 金额
                            th(scope='col') 时间
                    tbody#table-body
                        
            div.row
                div(style="margin:0 auto;")
                    ul.pagination
                        li.page-item.disabled
                            a(name="previous-page").page-link &laquo;
                        li.page-item
                            a(name="next-page").page-link &raquo;
block scripts
    script(src='/javascripts/views/record.js')
