extends layout

block content
    div.container.pad-top-lg.pad-bottom-lg
        div.jumbotron
            div.row
                div.col-lg-3.col-md-2
                div.col-lg-6.col-md-8
                    h3.pad-bottom-sm 注册账户
                    form
                        div.form-group
                            label 昵称
                            input(name='nickname').form-control(type="text")
                        div.form-group
                            label 手机号
                            input(name='phone').form-control(type="number")
                            small.form-text.text-info 手机号仅为认证所用，不会用作其他用途。
                        div.form-group
                            div.label 密码
                            input(name='password').form-control(type="password")
                        button#button-register.btn.btn-secondary(type='button') 注册
                div.col-lg-3.col-md-2

block scripts
    script(src='/javascripts/views/register.js')