h2 {
    padding-bottom: 30px;
}

.h-img {
    padding-top: 60px;
    padding-bottom: 30px;
    font-size: 3em;
    font-weight: bold;
}

.pad-top {
    padding-top: 100px;
}

.pad-bottom {
    padding-bottom: 30px;
}

.strong {
    font-weight: bold;
    font-size: 1.2em;
}

