h2 {
    padding-bottom: 30px;
}

.h-img {
    padding-top: 60px;
    padding-bottom: 30px;
    font-size: 3em;
    font-weight: bold;
}

.pad-top-lg {
    padding-top: 100px;
}

.pad-top-md {
    padding-top: 30px;
}

.pad-bottom-lg {
    padding-bottom: 100px;
}

.pad-bottom-md {
    padding-bottom: 30px;
}

.strong {
    font-weight: bold;
    font-size: 1.2em;
}

.option-card {
    width: 100%;
    height: 100px;
    vertical-align: central;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.pad-left-md {
    padding-left: 30px;
}

.pad-left-lg {
    padding-left: 100px;
}

.pad-right-lg {
    padding-right: 100px;
}
